.header {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(#f8f8f8, #ffffff);
  color: #7e7e82;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
}

.brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.brand-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin: 5px;
  width: 240px;
  height: 72px;
  min-width: 240px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
}

.lenovo {
  width: 108px;
  height: 32px;
}

.samsung {
  width: 116px;
  height: 38.52px;
}

.apple {
  width: 44px;
  height: 44px;
}

.vievSonic {
  width: 128px;
  height: 21px;
}

.bosh {
  width: 128px;
  height: 28.6px;
}
.hp {
  width: 52px;
  height: 52px;
}
.acer {
  width: 94px;
  height: 24px;
}
.sony {
  width: 128px;
  height: 25.6px;
}

.brand-name {
  flex-grow: 1;
  font-size: 18px;
}

.arrow-icon {
  width: 40px;
  height: 40px;
}

footer {
  flex-shrink: 0;
  text-align: left;
  margin-top: auto;
  padding: 0 20px;
}
/* .brand-button:nth-last-child(-n + 3) {
  display: none;
} */

#hideButton {
  padding: 20px 30px;
  background-color: #a09191;
  color: #fff;
  border: none;
  cursor: pointer;
}

#hideButton:hover {
  background-color: #777;
}

@media (max-width: 320px) {
}
@media (min-width: 320px) and (max-width: 768px) {
    .brand-button:nth-last-child(-n + 5) {
        display: none;
      }

}

@media (min-width: 768px) {

    .brand-button:nth-last-child(-n + 3) {
        display: none;
      }
}
